<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MEAN</title>
</head>
<body>
<p>Welcome to MEAN app</p>
<div>
    <h3>Users</h3>
    <ol>
        <li data-ng-repeat="user in users"> {{ user.name + ' ( ' + user.org + ' )' }} </li>
    </ol>
</div>
</body>
</html>